mixin history(data)
	+b.history
		+e.path
			+b.point-1
				+b.event_1= `${data.t8}`
				+b.event_2= `${data.t9}`

			+b.point-2
				+b.event_3= `${data.t10}`
				+b.event_4= `${data.t11}`
			+b.point-3
				+b.event_5= `${data.t12}`
				+b.event_6= `${data.t13}`


		+e.notebook
		+e.phone
		+e.pen
		+e.ticket
		+e.watch
		+e.photo
		+e.iphone
		+e.ipad
		+e.cup
		+e.mask
		+e.palka
		+e.bag
		+e.newspaper
		+e.magazine
